<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"/>

<div class="grid">
    <canvas #board class="app-board"></canvas>
    <div class="right-column">
      <div>
        <h1>TETRIS</h1>
        <p>Score: {{ points }}</p>
        <p>Lines: {{ lines }}</p>
        <p>Level: {{ level }}</p>
        <canvas #next class="next"></canvas>
      </div>
      <button (click)="play()" class="btn">Play</button>
      <button (click)="gameOver()" routerLink="" routerLinkActive="active" class="btn" *ngIf="gameStarted">beenden</button>
    </div>
  </div>
  
  