.grid {

    margin-top: 5%;

}

.app-board {
    border-style: solid;
    border-color: white;
    margin-left: 35%;
}

.right-column {

    color: white;

}

.right-column {

    float: right;
    margin-right: 35%;

}
